<!DOCTYPE html>
<html lang=“ja”>
  <head>
    <meta charset=“UFT-8”>
    <title>メモアプリ_dtanakab</title>
    <link rel="stylesheet" href="app.css" />
  </head>
  <body>
    <div class='header'>
      <a href='/'>メモアプリ</a>
    </div>
    <ul class='memo_list'>
      <% @memo_titles.each do | memo_title | %>
        <li class='memo_link'>
          <a href='/detail/<%= memo_title['id'] %>'>
            メモ<%= memo_title['id'] %>
          </a>
        </li>
      <% end %>
    </ul>
    <div class="buttons_area">
      <div class="button">
        <a href='/add'>メモを追加</a>
      </div>
    </div>
  </body>
</html>
